@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Nata+Sans:wght@100..900&family=Sekuya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

:root {
  --prim-color: #0ea5ea;
  --prim-light: #a9baf989;
  --body-color: #0f172a;
  --bg-color: #131c31;
  --light-boarder: rgba(131, 131, 131, 0.3);

  --white: #fff;
  --black: #000;
  --text-light : rgb(170, 170, 170);
  --text: #fff;

  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;

  /* Additional Google Fonts */
  --font-bbh-bartle: "BBH Bartle", serif;
  --font-nata-sans: "Nata Sans", sans-serif;
  --font-unbounded: "Unbounded", sans-serif;
  --font-geom: "Geom", sans-serif;
  --font-noto-sans: "Noto Sans", sans-serif;

  --transition-regular:0.3s;
  --transition-slow: 0.6s;
}

html.light{
  --prime-color: #00a2ff;
  --prime-light: #dbeafe;
  --body-color: #e8edf1;
  --bg-color: #ffffff;
  --light-border: #0ea5ea;
  --white: #000;
  --black: #fff;
  --text-light : rgb(0, 0, 0);
  --text: #344261;
}

.font-geist-sans{
  font-family: var(--font-geist-sans);
}
.font-geist-mono{
  font-family: var(--font-geist-mono);
}
.font-bbh-bartle{
  font-family: var(--font-bbh-bartle);
}
.font-nata-sans{
  font-family: var(--font-nata-sans);
}
.font-sekuya{
  font-family: var(--font-sekuya);
}
.font-unbounded{
  font-family: var(--font-unbounded);
}
.font-geom{
  font-family: var(--font-geom);
}
.font-noto-sans{
  font-family: var(--font-noto-sans);
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

body, 
html,
*{
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

*{
  scroll-behavior: smooth;
}

body{
  background-color: var(--body-color);
  color: var(--white);
  min-height: 200vh;
}

/* NavBar */

.menu-link a{
  font-weight: 600;
  transition: var(--transition-regular);
  color: var(--text-light);
}

.menu-link{
  font-size: 1rem;
  color: var(--text-light);
  letter-spacing: 1px;
}

.btn{
  background: var(--prim-color);
  background: linear-gradient(90deg, rgb(14, 165, 234), rgb(11, 209, 209) 51%, rgb(14, 165, 234)) var(--x, 0) / 250%;
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover{
  --x:150% !important;
  transition: 0.5s;
}

.hero{
  position: relative;
}
.hero-header{
  height: 100vh;
}
.hero::after{
  content: "";
  position: absolute;
  top:0;
  left: -25%;
  width: 70%;
  height: 85%;
  background-image: url(../public/Hero-bg-shape1.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;

}
.hero::before{
  content: "";
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 700px;
  background-image: url(../public/Hero-bg-shape1.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;

}

.hero-elm{
  z-index: -1;
}

.hero-elm-1{
  position: absolute;
  top: 50%;
  left: -15%;
  animation: Anim-hero-1 6s infinite linear;
}
.hero-elm-2{
  position: absolute;
  top: 20%;
  right:0;
  animation: Anim-hero-2 3s infinite linear;
}

.hero-elm-3{
  position: absolute;
  top: 80%;
  left: -2%;
  animation: Anim-hero-3 3s infinite forwards linear;
}

.hero-elm-4{
  position: absolute;
  top: 60%;
  right: -3%;
  animation: Anim-hero-4 3s infinite forwards linear;
}

@keyframes Anim-hero-1  {
  0%{
    transform: translate(0) rotate(0);
  }
  20%{
    transform: translate(73px, -1px) rotate(36deg);
  }
  40%{
    transform: translate(141px, 72px) rotate(72deg);
  }
  60%{
    transform: translate(83px, 122px) rotate(108deg);
  }
  80%{
    transform: translate(-40px, 72px) rotate(144deg);
  }
  100%{
    transform: translate(0px) rotate(0deg);
  }
}

@keyframes Anim-hero-2 {
  0%{
    transform: translateY(-50px);
  }
  50%{
    transform: translateY(0px);
  }
  100%{
    transform: translate(-50px) ;
  }
  
}

@keyframes Anim-hero-3 {
  0%{
    transform: scale(1.2);
  }
  50%{
    transform: scale(0.7);
  }
  100%{
    transform: translate(1.2) ;
  }
  
}

@keyframes Anim-hero-4 {
  0%{
    transform: scale(1.2);
  }
  50%{
    transform: scale(0.7);
  }
  100%{
    transform: translate(1.2) ;
  }
  
}

.swiper-button-next .swiper-navigation-icon,
.swiper-button-prev .swiper-navigation-icon{
  display: none;
}

.swiper-btn i{
  color: var(--white);
}
.hero-swiper-next{
  left:30% !important;
}

.typing {
  overflow: hidden;
  border-right: 3px solid var(--prim-color);
  white-space: nowrap;
  animation: typing 5s steps(15, end) infinite;
}
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  0%, 49% {
    border-right-color: var(--prim-color);
  }
  50%, 100% {
    border-right-color: transparent;
  }
}

@media (max-width:991px){
  .hero{
    height: 100%;
  }
  .hero-swiper{
    height: 5%;
  }
  .hero-swiper-next,
  .hero-swiper-prev{
    top:160% !important;
  }
  .hero-swiper-next{
    left: 10% !important;
  }

}

@media (max-width:575px){
  .hero::before{
    top:100%;
    width: 500px;
  }
  .hero::after{
    width: 500px;
  }
  .hero-swiper-next,
  .hero-swiper-prev{
    top:140% !important;
  }
  .hero-swiper-next{
    left: 15% !important;
  }
}