name: Deploy prj 

on:
    pull_request:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        container:
            image: node:20
        steps:
            - uses: actions/checkout@v3
            - run: npm ci
            - run: npm i 
            - run: npm run dev 
